{% extends 'admin/master.html' %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="m-0">
                                    <i class="fas fa-user-graduate"></i>
                                    Student list
                                </h5>
                            </div>
                            <div class="col-6">
                                <a
                                        href="{{ url_for('addStudent') }}"
                                        class="btn btn-outline-success float-right"
                                        role="button"
                                        aria-disabled="true"
                                >
                                    <i class="fas fa-plus-circle"></i>
                                    Add Student
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless table-striped">
                                <thead>
                                <tr class="bg-primary">
                                    <th>Id</th>
                                    <th>Profile</th>
                                    <th>Name</th>
                                    <th>Gender</th>


                                    <th>DOB</th>
                                    <th>POB</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in rows %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>image</td>
                                        <td>{{ row['name'] }}</td>
                                        <td>{{ row['gender'] }}</td>

                                        <td>{{ row['DateOfBirth'] }}</td>
                                        <td>{{ row['PlaceOfBirth'] }}</td>
                                        <td>{{ row['address'] }}</td>
                                        <td class="d-flex" style="gap:10px">
                                            <a href="{{ BASE_URL }}/admin/edit_student/{{ row['id'] }}">
                                                <button type="button" class="btn btn-outline-secondary  " >
                                                    Edit
                                                    <i class="far fa-edit"></i>
                                                </button>
                                            </a>
                                            <form action="{{ url_for('delete_student', id=row['id']) }}" method="POST">
                                            <button type="submit" class="btn btn-outline-danger " >
                                                    Delete
                                                    <i class="fas fa-trash-alt"></i>
                                            </button>
                                             </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}