{% extends 'admin/master.html' %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="m-0">
                                    <i class="fas fa-plus-circle"></i>
                                    Update Customer
                                </h5>
                            </div>
                            <div class="col-6">
                                <a href="{{ url_for('indexCustomer') }}" class="btn btn-outline-secondary float-right">
                                    <i class="fas fa-arrow-circle-left"></i>
                                    Back
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-group">
                                <label for="name">Name <span class="text-danger">*</span></label>
                                <input required type="text" class="form-control" id="name" name="name"
                                       placeholder="Enter product name" value="{{ customer.name }}">
                            </div>
                            <div class="form-group">
                                <label for="image">Image <span class="text-danger">*</span></label>
                                <input required type="text" class="form-control" id="image" name="image"
                                       placeholder="Enter product Image" value="{{ customer.image }}">
                            </div>
                            <div class="form-group">
                                <label for="status">Status <span class="text-danger">*</span></label>
                                <input required type="text" class="form-control" id="status" name="status"
                                       placeholder="Enter product status" value="{{ customer.status }}">
                            </div>

                            <button type="submit" class="btn btn-primary float-right">Update</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
